@import '../../../styles/common';
@import '../../../styles/mixins';

.Login {
  @extend .border-radius-0p5;
  @extend .display-flex;
  @include boxShadow();
  overflow         : clip;
  z-index          : 1;
  background-color : white;
  
  border           : 1px solid gainsboro;
  
  .Logo {
    background-color : #f2f2f2;
  }
  
  .Email {
    width : 250px;
    @extend .display-inline-flex;
    @extend .gap-1
  }
  
  .Password {
    width : 250px;
    @extend .display-inline-flex;
    @extend .gap-1
  }
}