@use "../../../styles/common";

$tabBorderRadius            : 0.2rem;
$tabBackground              : #963999;
$activeBackgroundColor      : #ffffff;
$activeTabItemColor         : magenta;
$inactiveTabBackgroundColor : #f1f1f1;
$inactiveTabBorderColor     : #c5c5c5;

[data-component="tabs"] {
  background-color   : transparent;
  border-radius      : $tabBorderRadius;
  display            : grid;
  //overflow           : hidden;
  overflow           : auto;
  width              : 100%;
  grid-template-rows : 42px auto;
  
  > .tab-items {
    @extend .disable-select;
    
    align-items             : center;
    border-width            : 1px;
    border-style            : solid;
    background-color        : transparent;
    border-color            : transparent;
    border-bottom           : none;
    border-top-left-radius  : $tabBorderRadius;
    border-top-right-radius : $tabBorderRadius;
    display                 : grid;
    font-weight             : bold;
    grid-template-columns   : 21px auto 21px;
    
    > .scroll-btn-left,
    > .scroll-btn-right {
      align-items      : center;
      cursor           : pointer;
      display          : flex;
      opacity          : 0;
      transition       : all 200ms ease-in-out;
      z-index          : 2;
      justify-content  : center;
      height           : inherit;
      padding          : 0.4rem 0;
      margin-top       : 3px;
      border-bottom    : none;
      background-color : transparent;
      
      > svg {
        border-radius    : 50%;
        background-color : $tabBackground;
        color            : white;
      }
      
      &.visible {
        opacity : 0.3;
      }
    }
    
    > .tab-items-wrapper {
      display       : flex;
      height        : 100%;
      align-items   : flex-end;
      border-bottom : none;
      overflow      : hidden;
      padding       : 0.3rem 0 0 0;
      white-space   : nowrap;
      z-index       : 1;
      
      > .tab-item {
        border                  : 1px solid transparent;
        border-top-left-radius  : 0.3rem;
        border-top-right-radius : 0.3rem;
        cursor                  : pointer;
        display                 : inline-flex;
        padding                 : 0.5rem 0.7rem;
        transition              : color, background-color, opacity, width, height, padding 100ms ease-in-out;
        white-space             : nowrap;
        
        & ~ .tab-item { border-left-width : 0; }
        
        &.active {
          border-left-width : 1px;
          margin-top        : 0;
          z-index           : 1;
        }
        
        &:not(.active) {
          z-index          : -1;
          background-color : $inactiveTabBackgroundColor;
        }
      }
    }
    
    &:hover {
      > .scroll-btn-left,
      > .scroll-btn-right {
        &.visible {
          opacity : 1;
          
          &:active {
            opacity : 0.3;
          }
        }
      }
    }
  }
  
  > .tab-content {
    margin-top       : -1px;
    background-color : $activeBackgroundColor;
    border           : 1px solid $tabBackground;
    border-radius    : $tabBorderRadius;
    position         : relative;
    z-index          : 0;
    
    > * { animation : fadein 300ms ease-in; }
    
    &:not(.active) {
      display          : none;
      background-color : transparent;
    }
    
    > *:first-child { margin-top : 0; }
    
    > *:last-child { margin-bottom : 0; }
  }
  
  &.boxed {
    > .tab-items {
      background-color : $tabBackground;
      border-color     : $tabBackground;
      
      > .tab-items-wrapper {
        > .tab-item {
          &.active {
            background-color    : $activeBackgroundColor;
            border-color        : $tabBackground;
            border-bottom-color : $activeBackgroundColor;
          }
          
          &:not(.active) {
            background-color : transparent;
            
            &:hover {
              color : $activeBackgroundColor !important;
            }
          }
        }
      }
      
      > .scroll-btn-left,
      > .scroll-btn-right {
        > svg {
          background-color : white;
          color            : $tabBackground;
        }
      }
    }
    
    .tab-content {
      border-top-left-radius  : 0;
      border-top-right-radius : 0;
    }
  }
  
  &.boxed-content {
    > .tab-items {
      background-color : transparent;
      border-color     : transparent;
      
      > .tab-items-wrapper {
        > .tab-item {
          &.active {
            background-color    : $activeBackgroundColor;
            border-color        : $tabBackground;
            border-bottom-color : $activeBackgroundColor;
            border-bottom-width : 2px;
          }
          
          &:not(.active) {
            background-color    : transparent;
            border-color        : transparent;
            border-bottom-color : $tabBackground;
          }
        }
      }
    }
    
    > .tab-content {
      border-radius : $tabBorderRadius;
      background    : $activeBackgroundColor;
    }
  }
  
  &.boxed-tabs {
    > .tab-items {
      background-color : transparent;
      border-color     : transparent;
      
      > .tab-items-wrapper {
        > .tab-item {
          &.active {
            background-color    : $activeBackgroundColor;
            border-color        : $tabBackground;
            border-bottom-color : $activeBackgroundColor;
            border-bottom-width : 2px;
          }
          
          &:not(.active) {
            border-color        : $inactiveTabBorderColor;
            border-bottom-color : $tabBackground;
          }
        }
      }
    }
    
    > .tab-content {
      border-radius       : 0;
      border-left-color   : transparent;
      border-right-color  : transparent;
      border-bottom-color : transparent;
      background          : $activeBackgroundColor;
    }
  }
  
  &.plain {
    > .tab-items {
      background-color : transparent;
      border-color     : transparent;
      
      > .tab-items-wrapper {
        > .tab-item {
          background-color : transparent;
          border-color     : transparent;
        }
      }
    }
    
    > .tab-content {
      border-radius       : 0;
      border-left-color   : transparent;
      border-right-color  : transparent;
      border-bottom-color : transparent;
      background-color    : inherit;
    }
  }
}
