@use '../../../styles/common';

[data-component='tabs'] {
  width: 30%;
  overflow: hidden;
  height: fit-content;
  border-radius: 0.5rem;
  
  > .tab-items {
    @extend .disable-select;
    
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    font-weight: bold;
    transition: all 300ms ease-in-out;
    align-items: center;
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 23px auto 23px;
    
    > .scroll-btn-left,
    > .scroll-btn-right {
      display: flex;
      background-color: transparent;
      align-items: center;
      height: 100%;
      cursor: pointer;
      opacity: 0;
      transition: all 200ms ease-in-out;
      
      &.visible {
        opacity: 0.3;
        
        &:hover {
          opacity: 1;
          
          &:active {
            opacity: 0.3;
          }
        }
      }
      
      &.scroll-btn-left { justify-content: flex-end; }
      &.scroll-btn-right { justify-content: flex-start; }
    }
    
    > .tab-items-wrapper {
      overflow: hidden;
      white-space: nowrap;
      align-items: center;
      padding: 0.5rem 0;
      
      > .tab-item {
        white-space: nowrap;
        opacity: 0.5;
        cursor: pointer;
        display: inline-flex;
        border: 1px solid transparent;
        padding: 0 0.5rem;
        transition: all 200ms ease-in-out;
        
        &:not(:last-child) { border-right-color: red; }
        
        & + * {
          border-left: none;
        }
        
        &:hover {
          color: red;
          opacity: 1;
          
          &:active {
            opacity: 0.3;
          }
        }
      }
    }
  }
  
  > .tab-content {
    border: 1px solid whitesmoke;
    padding: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
}
