@use "../../../styles/common";
@use "../../../styles/variables.module" as v;

$tabBorderRadius            : 0.2rem;
$tabAccentColor             : #ff6500;
$tabAccentColorDark         : #9b3922;

$tabBaseColor               : #f3f2f2;
$tabBaseColorDark           : #171515;

//$activeTabItemColor         : #00cafd;
$inactiveTabBackgroundColor : #f1f1f1;
$inactiveTabBorderColor     : #a6a6a6;

[data-component="tabs"] {
  background-color : transparent;
  border-radius    : $tabBorderRadius;
  display          : flex;
  flex-direction   : column;
  //overflow           : hidden;
  overflow         : auto;
  width            : 100%;
  
  > .tab-items {
    @extend .disable-select;
    
    align-items             : center;
    border-width            : 1px;
    border-style            : solid;
    background-color        : transparent;
    border-color            : transparent;
    border-bottom           : none;
    border-top-left-radius  : $tabBorderRadius;
    border-top-right-radius : $tabBorderRadius;
    display                 : grid;
    font-weight             : bold;
    grid-template-columns   : 21px auto 21px;
    
    > .scroll-btn-left,
    > .scroll-btn-right {
      align-items      : center;
      cursor           : pointer;
      display          : flex;
      opacity          : 0;
      transition       : all 200ms ease-in-out;
      z-index          : 2;
      justify-content  : center;
      height           : inherit;
      padding          : 0.4rem 0;
      margin-top       : 3px;
      border-bottom    : none;
      background-color : transparent;
      
      > svg {
        border-radius : 50%;
      }
      
      &.visible {
        opacity : 0.3;
      }
    }
    
    > .tab-items-wrapper {
      display       : flex;
      align-items   : flex-end;
      border-bottom : none;
      overflow      : hidden;
      white-space   : nowrap;
      z-index       : 1;
      
      > .tab-item {
        border                  : 1px solid transparent;
        border-top-left-radius  : 0.3rem;
        border-top-right-radius : 0.3rem;
        cursor                  : pointer;
        display                 : inline-flex;
        padding                 : 0.5rem 0.7rem;
        transition              : color, background-color, opacity, width, height, padding 100ms ease-in-out;
        white-space             : nowrap;
        
        &:first-child:not(.active),
        & ~ .tab-item:not(.active):not(:last-child) { border-right-width : 0; }
        
        &.active + .tab-item { border-left-width : 0; }
        
        &.active {
          border-left-width : 1px;
          margin-top        : 0;
          z-index           : 1;
        }
        
        &:not(.active) {
          z-index : -1;
        }
      }
    }
    
    &:hover {
      > .scroll-btn-left,
      > .scroll-btn-right {
        &.visible {
          opacity : 1;
          
          &:active {
            opacity : 0.3;
          }
        }
      }
    }
  }
  
  > .tab-content {
    margin-top    : -1px;
    border-radius : $tabBorderRadius;
    position      : relative;
    z-index       : 0;
    
    > * { animation : fadein 300ms ease-in; }
    
    &:not(.active) {
      display          : none;
      background-color : transparent;
    }
    
    > *:first-child { margin-top : 0; }
    
    > *:last-child { margin-bottom : 0; }
  }
  
  // Demo
  &.boxed {
    > .tab-items {
      background-color : $tabAccentColor;
      border-color     : $tabAccentColor;
      
      > .tab-items-wrapper {
        > .tab-item {
          &.active {
            background-color    : $tabBaseColor;
            border-color        : $tabAccentColor;
            border-bottom-color : $tabBaseColor;
          }
          
          &:not(.active) {
            background-color : transparent;
            
            &:hover {
              color : $tabBaseColor !important;
            }
          }
        }
      }
      
      > .scroll-btn-left,
      > .scroll-btn-right {
        > svg {
          background-color : white;
          color            : $tabAccentColor;
        }
      }
    }
    
    .tab-content {
      color                   : $tabBaseColorDark;
      background-color        : $tabBaseColor;
      padding                 : 0.7rem;
      border-top-left-radius  : 0;
      border-top-right-radius : 0;
    }
  }
  
  &.boxed-content {
    > .tab-items {
      background-color : transparent;
      border-color     : transparent;
      
      > .tab-items-wrapper {
        > .tab-item {
          &.active {
            background-color    : $tabBaseColor;
            border-color        : $tabAccentColor;
            border-bottom-color : $tabBaseColor;
            border-bottom-width : 2px;
          }
          
          &:not(.active) {
            background-color : transparent;
            border-color     : transparent;
          }
        }
      }
    }
    
    > .tab-content {
      padding          : 0.7rem;
      border-radius    : $tabBorderRadius;
      border           : 1px solid $tabAccentColor;
      color            : $tabBaseColorDark;
      background-color : $tabBaseColor;
    }
  }
  
  &.boxed-tabs {
    > .tab-items {
      background-color : transparent;
      border-color     : transparent;
      
      > .tab-items-wrapper {
        > .tab-item {
          &.active {
            background-color    : $tabBaseColor;
            border-color        : $tabAccentColor;
            border-bottom-color : $tabBaseColor;
            border-bottom-width : 2px;
          }
          
          &:not(.active) {
            border-color        : $inactiveTabBorderColor;
            border-bottom-color : transparent;
          }
        }
      }
    }
    
    > .tab-content {
      padding          : 0.7rem;
      border-radius    : $tabBorderRadius;
      border           : 1px solid $tabAccentColor;
      color            : $tabBaseColorDark;
      background-color : $tabBaseColor;
    }
  }
  
  &.plain {
    > .tab-items {
      background-color : transparent;
      border-color     : transparent;
      
      > .tab-items-wrapper {
        > .tab-item {
          background-color : transparent;
          border-color     : transparent;
        }
      }
    }
    
    > .tab-content {
      padding          : 0.7rem 0 0 0;
      border-radius    : 0;
      background-color : inherit;
      border-top       : 1px solid $tabAccentColor;
    }
  }
}