@use "mixins" as m;
@use 'variables.module' as v;

.spin { @include m.spin(); }

.spin-3 { @include m.spin(3s); }

.spin-7 { @include m.spin(7s); }

.spin-21 { @include m.spin(21s); }

.spin-28 { @include m.spin(28s); }

.spin-35 { @include m.spin(35s); }

.spin-42 { @include m.spin(42s); }

.spin-42 { @include m.spin(49s); }

.spin-70 { @include m.spin(70s); }

.spin-700 { @include m.spin(700s); }

.transition-200 {
  transition : all 200ms ease-in-out;
}

.transition-300 {
  transition : all 300ms ease-in-out;
}

.bounce {
  @include m.bounce();
}

.marquee {
  position   : absolute;
  bottom     : 0;
  width      : calc(100% - 4rem);
  overflow-x : hidden;
  height     : 35px;
  
  > div {
    position    : absolute;
    will-change : transform;
    animation   : marquee 49s linear infinite;
  }
}