@use "./variables.module" as v;
@use "./mixins" as m;

select {
  padding       : 0.439rem 0.4rem;
  color         : v.$inputTextColor;
  background    : v.$baseColor;
  border-color  : v.$borderColorDefault;
  border-radius : 4px;
  
  &:focus {
    outline : none;
  }
  
  &:focus,
  &:hover {
    cursor           : pointer;
    background-color : v.$buttonPrimaryHoverColorReact;
    color            : v.$buttonPrimaryTextColor;
    border-color     : v.$buttonPrimaryBorderColorReact;
    
    &:active {
      opacity : 0.3;
      color   : v.$inputTextColor;
    }
  }
  
  &[disabled],
  &.disabled {
    pointer-events : none !important;
    color          : rgb(172 172 172);
    opacity        : 0.3;
  }
}

code {
  font-family  : v.$codeFontFamily;
  padding      : 0.2rem;
  display      : block;
  unicode-bidi : isolate;
  white-space  : pre;
  margin-block : 1em 1em;
  font-size    : smaller;
}

textarea {
  border-radius : 3px;
  //noinspection CssUnknownProperty
  field-sizing  : content;
  overflow-y    : auto;
}

input { height : v.$inputHeight; }
textarea { min-height : v.$inputHeight; }

textarea,
input {
  &:not([class*="dropdown"]) {
    padding : v.$labelPadding;
  }
  
  min-width     : 50px;
  border-radius : 0.3rem;
  
  &::placeholder {
    opacity : 0.3;
  }
  
  &:focus {
    outline : none;
  }
  
  &[disabled],
  &.disabled {
    pointer-events : none !important;
    opacity        : 0.7;
  }
  
  @media (max-width : 768px) {
    input { height : v.$inputHeightSmall; }
    textarea { min-height : v.$inputHeightSmall; }
    padding    : v.$labelPaddingSmall
  }
}

///* This method hides the arrows/tooltip in Chrome, Safari, and Edge: */
//input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
//  -webkit-appearance: none;
//  margin: 0;
//}
///* For Firefox */
//input[type=number] {
//  -moz-appearance: textfield;
//}

ol,
ul {
  padding-inline-start : 1rem;
  
  > li {
    font-family : inherit;
    
    > ul {
      margin-bottom : 0.3rem;
    }
  }
}

a,
link {
  text-decoration : none;
  cursor          : pointer;
  font-weight     : 700;
  
  &.color-inherit {
    color : inherit;
  }
}