@use "./variables.module" as v;
@use "./mixins" as m;
@use "./common";

body {
  &.dark {
    @include m.customScrollbar(v.$accentColorDark);
    
    background-color : v.$baseColorDark;
    color            : v.$textColorDark;
    
    #react-ts-template {
      footer {
        background-color : v.$accentColorDark;
      }
      
      @media (max-width : 768px) {
        header {
          background-color : v.$accentColorDark;
        }
      }
    }
    
    .marquee {
      background-color : v.$baseColorDark;
    }
    
    .btn-icon,
    button,
    [data-component="button"] {
      &.btn-icon {
        color            : v.$buttonPrimaryColorDark;
        background-color : v.$buttonPrimaryTextColor;
        border-color     : v.$buttonPrimaryBorderColorDark;
      }
      
      &:not(.btn-icon) {
        @extend .border-radius-0p3;
        
        &.default {
          background-color : v.$buttonDefaultColor;
          border-color     : v.$buttonDefaultBorderColorDark;
          color            : v.$buttonDefaultTextColorDark;
        }
        
        &:not(.default) {
          background-color : v.$buttonPrimaryColorDark;
          border-color     : v.$buttonPrimaryBorderColorDark;
          color            : v.$buttonPrimaryTextColor;
        }
        
        &.no-padding {
        }
      }
      
      &:hover {
        &.btn-icon {
          color            : v.$buttonPrimaryHoverColorDark;
          background-color : v.$buttonPrimaryTextColor;
        }
        
        &:not(.btn-icon):not(.no-hover) {
          &.default {
            background-color : v.$buttonDefaultHoverColorDark;
            color            : v.$buttonDefaultColor;
          }
          
          &:not(.default) {
            background-color : v.$buttonPrimaryHoverColorDark;
          }
        }
        
        &:active { }
      }
      
      &[disabled],
      &.disabled {
        &.default {
          border-color : v.$buttonDefaultDisabledTextColor;
          color        : v.$buttonDefaultDisabledTextColor;
        }
        
        &:not(.default) {
          border-color : v.$buttonPrimaryDisabledTextColor;
        }
      }
    }
    
    .modal-overlay {
      > [data-component="modal"] {
        border-color : v.$accentColorDark;
        
        .header {
          border-bottom : 1px solid v.$accentColorDark;
          color         : v.$accentColorDark;
        }
        
        .content {
          color : v.$textColor;
        }
      }
    }
    
    .custom-tippy {
      background-color : v.$accentColorDark;
      border-color     : v.$accentColorDark;
      
      &[data-placement^="top"] .tippy-arrow::before {
        border-top-color : v.$accentColorDark;
      }
      
      &[data-placement^="right"] .tippy-arrow::before {
        border-right-color : v.$accentColorDark;
      }
      
      &[data-placement^="bottom"] .tippy-arrow::before {
        border-bottom-color : v.$accentColorDark;
      }
      
      &[data-placement^="left"] .tippy-arrow::before {
        border-left-color : v.$accentColorDark;
      }
    }
    
    a,
    .link,
    link {
      &:not(.nav-link) {
        color : v.$linkColorDark;
        
        &:not(.active) {
          &:hover {
            text-decoration : underline;
          }
        }
      }
    }
    
    textarea,
    input {
      &:not(.dropdown) {
        color  : v.$inputTextColor;
        //border : 1px solid v.$borderColorDefault;
        border: none;
        
        &:focus {
          border-color : v.$accentColorDark !important;
        }
        
        &.border-error {
          border : 1px solid v.$errorColor !important;
        }
        
        &[disabled],
        &.disabled {
          color        : #acacacff;
          border-color : rgba(v.$accentColorDark, 0.3) !important;
        }
      }
    }
  }
  
  &.react {
    @include m.customScrollbar(v.$accentColorReact);
    
    background-color : v.$baseColor;
    color            : v.$textColor;
    
    #react-ts-template {
      footer {
        background-color : v.$accentColorReact;
      }
      
      @media (max-width : 768px) {
        header {
          background-color : v.$accentColorReact;
        }
      }
    }
    
    .marquee {
      background-color : v.$baseColor;
    }
    
    .btn-icon,
    button,
    [data-component="button"] {
      &.btn-icon {
        color            : v.$buttonPrimaryColorReact;
        background-color : v.$buttonPrimaryTextColor;
        border-color     : v.$buttonPrimaryBorderColorReact;
      }
      
      &:not(.btn-icon) {
        @extend .border-radius-0p3;
        
        &.default {
          background-color : v.$buttonDefaultColor;
          border-color     : v.$buttonDefaultBorderColorReact;
          color            : v.$buttonDefaultTextColorReact;
        }
        
        &:not(.default) {
          background-color : v.$buttonPrimaryColorReact;
          border-color     : v.$buttonPrimaryBorderColorReact;
          color            : v.$buttonPrimaryTextColor;
        }
        
        &.no-padding {
        }
      }
      
      &:hover {
        &.btn-icon {
          color            : v.$buttonPrimaryHoverColorReact;
          background-color : v.$buttonPrimaryTextColor;
        }
        
        &:not(.btn-icon):not(.no-hover) {
          &.default {
            background-color : v.$buttonDefaultHoverColorReact;
            color            : v.$buttonDefaultColor
          }
          
          &:not(.default) {
            background-color : v.$buttonPrimaryHoverColorReact;
          }
        }
        
        &:active { }
      }
      
      &[disabled],
      &.disabled {
        &.default {
          border-color : v.$buttonDefaultDisabledTextColor;
          color        : v.$buttonDefaultDisabledTextColor;;
        }
        
        &:not(.default) {
          border-color : v.$buttonPrimaryDisabledTextColor;
        }
      }
    }
    
    .modal-overlay {
      > [data-component="modal"] {
        border-color : v.$accentColorReact;
        
        .header {
          border-bottom : 1px solid v.$accentColorReact;
          color         : v.$accentColorReact;
        }
        
        .content {
          color : v.$textColor;
        }
      }
    }
    
    .custom-tippy {
      background-color : v.$accentColorReact;
      border-color     : v.$accentColorReact;
      
      &[data-placement^="top"] .tippy-arrow::before {
        border-top-color : v.$accentColorReact;
      }
      
      &[data-placement^="right"] .tippy-arrow::before {
        border-right-color : v.$accentColorReact;
      }
      
      &[data-placement^="bottom"] .tippy-arrow::before {
        border-bottom-color : v.$accentColorReact;
      }
      
      &[data-placement^="left"] .tippy-arrow::before {
        border-left-color : v.$accentColorReact;
      }
    }
    
    a,
    .link,
    link {
      &:not(.nav-link) {
        color : v.$linkColorReact;
        
        &:not(.active) {
          &:hover {
            text-decoration : underline;
          }
        }
      }
    }
    
    textarea,
    input {
      &:not(.dropdown) {
        color  : v.$inputTextColor;
        //border : 1px solid v.$borderColorDefault;
        border: none;
        
        &:focus {
          border-color : v.$accentColorReact !important;
        }
        
        &.border-error {
          border : 1px solid v.$errorColor !important;
        }
        
        &[disabled],
        &.disabled {
          color        : #acacacff;
          border-color : rgba(v.$accentColorReact, 0.3) !important;
        }
      }
    }
  }
  
  &.insta {
    @include m.customScrollbar(v.$accentColorInsta);
    
    background-color : v.$baseColor;
    color            : v.$textColor;
    
    #react-ts-template {
      footer {
        background-color : v.$accentColorInsta;
      }
      
      @media (max-width : 768px) {
        header {
          background-color : v.$accentColorInsta;
        }
      }
    }
    
    .marquee {
      background-color : v.$baseColor;
    }
    
    .btn-icon,
    button,
    [data-component="button"] {
      &.btn-icon {
        color            : v.$buttonPrimaryColorInsta;
        background-color : v.$buttonPrimaryTextColor;
        border-color     : v.$buttonPrimaryBorderColorInsta;
      }
      
      &:not(.btn-icon) {
        @extend .border-radius-0p3;
        
        &.default {
          background-color : v.$buttonDefaultColor;
          border-color     : v.$buttonDefaultBorderColorInsta;
          color            : v.$buttonDefaultTextColorInsta;
        }
        
        &:not(.default) {
          background-color : v.$buttonPrimaryColorInsta;
          border-color     : v.$buttonPrimaryBorderColorInsta;
          color            : v.$buttonPrimaryTextColor;
        }
        
        &.no-padding {
        }
      }
      
      &:hover {
        &.btn-icon {
          color            : v.$buttonPrimaryHoverColorInsta;
          background-color : v.$buttonPrimaryTextColor;
        }
        
        &:not(.btn-icon):not(.no-hover) {
          &.default {
            background-color : v.$buttonDefaultHoverColorInsta;
            color            : v.$buttonDefaultColor
          }
          
          &:not(.default) {
            background-color : v.$buttonPrimaryHoverColorInsta;
          }
        }
        
        &:active { }
      }
      
      &[disabled],
      &.disabled {
        &.default {
          border-color : v.$buttonDefaultDisabledTextColor;
          color        : v.$buttonDefaultDisabledTextColor;;
        }
        
        &:not(.default) {
          border-color : v.$buttonPrimaryDisabledTextColor;
        }
      }
    }
    
    .modal-overlay {
      > [data-component="modal"] {
        border-color : v.$accentColorInsta;
        
        .header {
          border-bottom : 1px solid v.$accentColorInsta;
          color         : v.$accentColorInsta;
        }
        
        .content {
          color : v.$textColor;
        }
      }
    }
    
    .custom-tippy {
      background-color : v.$accentColorInsta;
      border-color     : v.$accentColorInsta;
      
      &[data-placement^="top"] .tippy-arrow::before {
        border-top-color : v.$accentColorInsta;
      }
      
      &[data-placement^="right"] .tippy-arrow::before {
        border-right-color : v.$accentColorInsta;
      }
      
      &[data-placement^="bottom"] .tippy-arrow::before {
        border-bottom-color : v.$accentColorInsta;
      }
      
      &[data-placement^="left"] .tippy-arrow::before {
        border-left-color : v.$accentColorInsta;
      }
    }
    
    a,
    .link,
    link {
      &:not(.nav-link) {
        color : v.$linkColorInsta;
        
        &:not(.active) {
          &:hover {
            text-decoration : underline;
          }
        }
      }
    }
    
    textarea,
    input {
      &:not(.dropdown) {
        color  : v.$inputTextColor;
        //border : 1px solid v.$borderColorDefault;
        border: none;
        
        &:focus {
          border-color : v.$accentColorInsta !important;
        }
        
        &.border-error {
          border : 1px solid v.$errorColor !important;
        }
        
        &[disabled],
        &.disabled {
          color        : #acacacff;
          border-color : rgba(v.$accentColorInsta, 0.3) !important;
        }
      }
    }
  }
  
  &.twitch {
    @include m.customScrollbar(v.$accentColorTwitch);
    
    background-color : v.$baseColor;
    color            : v.$textColor;
    
    #react-ts-template {
      footer {
        background-color : v.$accentColorTwitch;
      }
      
      @media (max-width : 768px) {
        header {
          background-color : v.$accentColorTwitch;
        }
      }
    }
    
    .marquee {
      background-color : v.$baseColor;
    }
    
    .btn-icon,
    button,
    [data-component="button"] {
      &.btn-icon {
        color            : v.$buttonPrimaryColorTwitch;
        background-color : v.$buttonPrimaryTextColor;
        border-color     : v.$buttonPrimaryBorderColorTwitch;
      }
      
      &:not(.btn-icon) {
        @extend .border-radius-0p3;
        
        &.default {
          background-color : v.$buttonDefaultColor;
          border-color     : v.$buttonDefaultBorderColorTwitch;
          color            : v.$buttonDefaultTextColorTwitch;
        }
        
        &:not(.default) {
          background-color : v.$buttonPrimaryColorTwitch;
          border-color     : v.$buttonPrimaryBorderColorTwitch;
          color            : v.$buttonPrimaryTextColor;
        }
        
        &.no-padding {
        }
      }
      
      &:hover {
        &.btn-icon {
          color            : v.$buttonPrimaryHoverColorTwitch;
          background-color : v.$buttonPrimaryTextColor;
        }
        
        &:not(.btn-icon):not(.no-hover) {
          &.default {
            background-color : v.$buttonDefaultHoverColorTwitch;
            color            : v.$buttonDefaultColor
          }
          
          &:not(.default) {
            background-color : v.$buttonPrimaryHoverColorTwitch;
          }
        }
        
        &:active { }
      }
      
      &[disabled],
      &.disabled {
        &.default {
          border-color : v.$buttonDefaultDisabledTextColor;
          color        : v.$buttonDefaultDisabledTextColor;;
        }
        
        &:not(.default) {
          border-color : v.$buttonPrimaryDisabledTextColor;
        }
      }
    }
    
    .modal-overlay {
      > [data-component="modal"] {
        border-color : v.$accentColorTwitch;
        
        .header {
          border-bottom : 1px solid v.$accentColorTwitch;
          color         : v.$accentColorTwitch;
        }
        
        .content {
          color : v.$textColor;
        }
      }
    }
    
    .custom-tippy {
      background-color : v.$accentColorTwitch;
      border-color     : v.$accentColorTwitch;
      
      &[data-placement^="top"] .tippy-arrow::before {
        border-top-color : v.$accentColorTwitch;
      }
      
      &[data-placement^="right"] .tippy-arrow::before {
        border-right-color : v.$accentColorTwitch;
      }
      
      &[data-placement^="bottom"] .tippy-arrow::before {
        border-bottom-color : v.$accentColorTwitch;
      }
      
      &[data-placement^="left"] .tippy-arrow::before {
        border-left-color : v.$accentColorTwitch;
      }
    }
    
    a,
    .link,
    link {
      &:not(.nav-link) {
        color : v.$linkColorTwitch;
        
        &:not(.active) {
          &:hover {
            text-decoration : underline;
          }
        }
      }
    }
    
    textarea,
    input {
      &:not(.dropdown) {
        color  : v.$inputTextColor;
        //border : 1px solid v.$borderColorDefault;
        border: none;
        
        &:focus {
          border-color : v.$accentColorTwitch !important;
        }
        
        &.border-error {
          border : 1px solid v.$errorColor !important;
        }
        
        &[disabled],
        &.disabled {
          color        : #acacacff;
          border-color : rgba(v.$accentColorTwitch, 0.3) !important;
        }
      }
    }
  }
}
