@import 'variables';
@import 'keyframes';

.tippy-box[data-theme~='error'] {
  background-color: $errorColor;
  color: yellow;

  &[data-placement^="top"] {
    > .tippy-arrow:before {
      border-top-color: $errorColor;
    }
  }
}

[data-tippy-root] {
  animation : fadein 700ms ease-in-out;
}