@use 'variables.module' as v;
@use "mixins" as m;

.tippy-box[data-theme~="error"] {
  background-color : v.$errorColor;
  color            : yellow;
  
  &[data-placement] {
    > .tippy-arrow:before {
      border-top-color : v.$errorColor;
    }
  }
}

[data-tippy-root] {
  @include m.spin(0.7)
}

.custom-tippy {
  border-width  : 1px;
  border-style  : solid;
  border-radius : 4px;
  color         : #fff;
}