$codeFontFamily                 : source-code-pro, Menlo, Monaco, Consolas, "Courier New", "Roboto Mono", monospace;

$textColor                      : #171515;
$textColorDark                  : #f3f2f2;

$secondaryTextColor             : #8b7e7e;
$secondaryTextColorDark         : #b4adad;

$baseColor                      : #f3f2f2;
$baseColorDark                  : #171515;

$secondaryBaseColor             : #dddada;
$secondaryBaseColorDark         : #2f2b2b;

$accentColor                    : rgb(255, 101, 0);
$accentColorDark                : rgb(155, 57, 34);

$primaryColor                   : rgb(0, 153, 255);
$primaryColorDark               : rgb(34, 133, 155);

$secondaryColor                 : #ffe500;
$secondaryColorDark             : #ffc300;
$inputTextColor                 : #252a2b;
$errorColor                     : #1c2127;

$secondaryBackgroundColor       : #f8f5fa;
$secondaryBackgroundColorDark   : #34283b;

$buttonPrimaryTextColor         : #ffffff;
$buttonPrimaryDisabledTextColor : rgba(255, 255, 255, 0.49);

$buttonDefaultColor             : #ffffff;
$buttonDefaultDisabledTextColor : #beb7b7;

$alternatingBackgroundOdd       : rgba(150, 57, 153, 0.07);
$alternatingBackgroundEven      : rgba(97, 218, 251, 0.07);
$gridBorderColor                : rgb(212, 167, 212);

$borderColorDefault             : #e9e9e9;
$backgroundColorDefault         : #fefcff;

/* ******* BELOW IS DEPENDENT ON THE ACCENT COLOR ******* */
$buttonPrimaryColor             : $accentColor;
$buttonPrimaryHoverColor        : rgba($buttonPrimaryColor, 0.3);
$buttonPrimaryBorderColor       : $buttonPrimaryHoverColor;
$buttonDefaultHoverColor        : $buttonPrimaryHoverColor;
$buttonDefaultTextColor         : $buttonPrimaryColor;
$buttonDefaultBorderColor       : $buttonDefaultTextColor;
