$textColor                      : #292030;
$textColorDark                  : #FEFCFF;
//$textColor                      : #00cafd;

$secondaryColor                 : #963999;
$secondaryColorDark             : #CE7BD1;

$inputTextColor                 : #252a2b;
$errorColor                     : #1c2127;

$backgroundColor                : #FEFCFF;
$secondaryBackgroundColor       : #F8F5FA;

$backgroundColorDark            : #292030;
$secondaryBackgroundColorDark   : #34283B;

$backgroundColorSelected        : rgba(214, 214, 214, 0.49);

$buttonPrimaryColor             : rgba(0, 123, 255, 0.63);
$buttonPrimaryTextColor         : #ffffff;
$buttonPrimaryHoverColor        : rgba(0, 123, 255, 1);
$buttonPrimaryBorderColor       : $buttonPrimaryHoverColor;
$buttonPrimaryDisabledTextColor : rgba(255, 255, 255, 0.49);

$buttonDefaultColor             : #ffffff;
$buttonDefaultTextColor         : #218cd9;
$buttonDefaultBorderColor       : #218cd9;
$buttonDefaultHoverColor        : #218cd952;
$buttonDefaultDisabledTextColor : #beb7b7;

$headerBackgroundColor          : #CE7BD1;
$footerBackgroundColor          : #CE7BD1;
$headerBackgroundColorDark      : #963999;
$footerBackgroundColorDark      : #963999;

$scrollbarColor                 : #963999;
$scrollbarBackgroundColor       : transparent;
$scrollbarBorderRadius          : 0.4rem;
$codeFontFamily                 : source-code-pro, Menlo, Monaco, Consolas, "Courier New", "Roboto Mono", monospace;

$alternatingBackgroundOdd       : rgba(150, 57, 153, 0.07);
$alternatingBackgroundEven      : rgba(97, 218, 251, 0.07);
$gridBorderColor                : rgb(212, 167, 212);

$borderColorPrimary             : #00cafd;
$borderColorDefault             : #e9e9e9;
