@use "src/styles/variables.module" as v;

.demo-section {
  display : flex;
  gap     : 2rem;
  height  : 100%;
  
  > .demo-section-left {
    width         : 63%;
    overflow      : auto;
    border-radius : 0.4rem;
    padding       : 2rem;
    
    > :first-child { margin-top : 0; }
    
    > :last-child { margin-bottom : 0; }
    
    &.with-height-wrapper {
      .height-wrapper {
        height : calc(100% - 5rem);
      }
    }
  }
  
  > .demo-section-right {
    display        : flex;
    flex-direction : column;
    gap            : 0.5rem;
    width          : 37%;
    overflow       : auto;
    padding-right  : 2rem;
    
    > :first-child { margin-top : 0; }
    
    > :last-child { margin-bottom : 0; }
  }
}

@media(max-width : 768px) {
  .demo-section {
    flex-direction : column;
    margin-top     : 1rem;
    
    > .demo-section-left {
      padding : 1rem;
      width   : calc(100% - 1rem);
      
      > h2 {
        padding-bottom : 0.3rem;
        margin-bottom  : 0.7rem;
      }
      
      [data-component="dropdown"],
      [data-component="box"] {
        position : relative;
      }
      
      &.with-height-wrapper {
        height : 300px;
        
        .height-wrapper {
          height : calc(100% - 3.5rem);
        }
      }
    }
    
    > .demo-section-right {
      padding : 0;
      width   : calc(100% - 1rem);
      
      [data-component="box"] {
        width : 100%;
      }
    }
  }
}

body {
  &.dark {
    .demo-section {
      > .demo-section-left {
        background-color : v.$secondaryBackgroundColorDark;
      }
    }
  }
  
  &:not(.dark) {
    .demo-section {
      > .demo-section-left {
        background-color : v.$secondaryBackgroundColor;
      }
    }
  }
}