@use "../styles/variables.module.scss" as v;

nav[data-nav="top"] {
  display     : flex;
  align-items : center;
  gap         : 1rem;
  
  a {
    color : inherit;
  }
}

@media (max-width : 768px) {
  nav[data-nav="top"] {
    width           : 100%;
    align-self      : center;
    justify-content : flex-end;
    font-size       : smaller;
    gap             : 0.5rem;
  }
}