@use "../../../styles/variables" as v;
@use "../../../styles/mixins" as m;

[data-component="input-field"] {
  display : flex;
  gap     : 0.3rem;
  
  > label {
    display     : inline-flex;
    align-items : center;
    min-width   : fit-content;
  }
  
  > div {
    > textarea,
    > input {
      min-width     : 50px;
      min-height    : 33px;
      padding       : 0.5rem;
      border        : 1px solid v.$borderColorDefault;
      border-radius : 0.3rem;
      
      &[type="text"] {}
      
      &[type="submit"] {}
      
      &[type="checkbox"] {}
      
      &[type="radio"] {}
    }
    
    > .error {
      @include m.boxShadow(v.$errorColor);
      
      border-radius : 50%;
      position      : absolute;
      cursor        : pointer;
      color         : v.$errorColor;
      transition    : all 100ms ease-in-out;
      align-self    : center;
      right         : 7px;
      display       : inline-flex;
    }
  }
}

@media (max-width : 768px) {
  [data-component="input-field"] {
    font-size: small;
    gap     : 0.1rem;
    
    > label {}
    
    > div {
      > textarea,
      > input {
        min-width     : 30px;
        min-height    : 28px;
        padding       : 0.3rem;
        
        &[type="text"] {}
        
        &[type="submit"] {}
        
        &[type="checkbox"] {}
        
        &[type="radio"] {}
      }
      
      > .error {}
    }
  }
}