@import "../../../styles/variables";
@import "../../../styles/mixins";
@import "../../../styles/common";

[data-component="input-field"] {
  display : flex;
  gap     : 0.3rem;
  
  > label {
    display     : inline-flex;
    align-items : center;
    min-width   : fit-content;
  }
  
  > div {
    > input {
      min-width    : 50px;
      padding       : 0.5rem;
      border        : 1px solid $borderColor;
      border-radius : 0.3rem;
      
      &[type="text"] {}
      
      &[type="submit"] {}
      
      &[type="checkbox"] {}
      
      &[type="radio"] {}
    }
    
    > .error {
      @include boxShadow($errorColor);
      
      border-radius : 50%;
      position      : absolute;
      cursor        : pointer;
      color         : $errorColor;
      transition    : all 100ms ease-in-out;
      align-self    : center;
      right         : 7px;
      display       : inline-flex;
    }
  }
}