@use "../../../styles/variables.module" as v;

body {
  &.dark {
    .accent-text {
      color : v.$accentColorDark;
    }

    .secondary-text {
      color: v.$secondaryTextColorDark;
    }
  }

  &.react {
    .accent-text {
      color : v.$accentColorReact;
    }

    .secondary-text {
      color: v.$secondaryTextColor;
    }
  }
}