@use "../../../styles/variables" as v;

body {
  &.dark {
    .accent-text {
      color : v.$accentColorDark;
    }

    .secondary-text {
      color: v.$secondaryTextColorDark;
    }
  }

  &.light {
    .accent-text {
      color : v.$accentColor;
    }

    .secondary-text {
      color: v.$secondaryTextColor;
    }
  }
}