@use "../../../../styles/variables.module" as v;

.properties {
  margin: 0;
  padding: 0.5rem 0;
  gap: 0.5rem;
  justify-content: space-between;
}

@media(max-width: 768px) {
  .properties {
    > span {
      font-size : 0.7rem;
      text-align: right;
      line-height: 0.9;
    }
  }
}

body {
  &.dark {
    .extends {
      color: v.$secondaryTextColorDark;
    }
  }

  &.light {
    .extends {
      color: v.$secondaryTextColor;
    }
  }
}