@import 'styles/common';
@import 'styles/animations';
@import 'styles/variables';

#ts-app-template {
  display        : flex;
  flex-direction : column;
  
  header {
    position         : relative;
    background-color : #963999;
    height           : 50px;
    display          : flex;
    align-items      : center;
    justify-content  : space-between;
    padding          : 0.5rem;
    gap              : 0.5rem;
  }
  
  main {
    position         : relative;
    background-color : $backgroundColor;
    width            : 100vw;
    min-height       : calc(100vh - 80px);
    display          : flex;
    padding          : 2rem;
  }
  
  footer {
    position         : relative;
    background-color : #963999;
    height           : 30px;
    display          : flex;
    align-items      : center;
    padding          : 0.5rem;
    font-size        : small;
    font-weight      : 700;
  }
}