@use "styles/variables" as v;

#react-ts-template {
  display        : flex;
  flex-direction : column;
  overflow       : hidden;
  
  header {
    position        : relative;
    height          : 60px;
    top             : 0;
    display         : flex;
    align-items     : center;
    justify-content : space-between;
    padding         : 0.5rem;
    gap             : 0.5rem;
    z-index         : 3;
    
    > a {
      padding : 0;
    }
  }
  
  main {
    position : relative;
    width    : 100vw;
    display  : flex;
    padding  : 1rem 0 1rem 2rem;
    
    .content-wrapper {
      width      : 100%;
      height     : 100%;
      padding    : 0 2rem 0 0;
      overflow-y : auto;
      overflow-x : hidden;
    }
  }
  
  footer {
    position    : relative;
    bottom      : 0;
    z-index     : 1;
    height      : 40px;
    display     : flex;
    align-items : center;
    padding     : 0.5rem;
    font-size   : small;
    font-weight : 700;
  }
}

body {
  &.dark {
    #react-ts-template {
      header {
        border-bottom : 10px solid v.$baseColorDark;
      }
      
      footer {
        border-top : 10px solid v.$baseColorDark;
      }
      
      header, footer {
        background-color : v.$accentColorDark;
      }
    }
  }
  
  &.light {
    #react-ts-template {
      header {
        border-bottom : 10px solid v.$baseColor;
      }
      
      footer {
        border-top : 10px solid v.$baseColor;
      }
      
      header, footer {
        background-color : v.$accentColor;
      }
    }
  }
}

@media (max-width : 768px) {
  #react-ts-template {
    header > a {
      gap : 0.2rem;
      
      > h3 {
        white-space : pre-wrap;
        width       : 114px;
        line-height : 0.9;
      }
    }
    
    main {
      padding : 0 0 1rem 1rem;
      
      .content-wrapper {
        width      : 100%;
        height     : 100%;
        padding    : 0 1rem 0 0;
        overflow-y : auto;
        overflow-x : hidden;
      }
    }
    
    .marquee {
      width : calc(100% - 2rem);
    }
  }
}