@import 'styles/variables';

#react-ts-template {
  display        : flex;
  flex-direction : column;
  
  header {
    position         : sticky;
    height           : 60px;
    top              : 0;
    display          : flex;
    align-items      : center;
    justify-content  : space-between;
    padding          : 0.5rem;
    background-color : #963999;
    gap              : 0.5rem;
    z-index          : 1;
    border-bottom    : 10px solid $backgroundColor;
  }
  
  main {
    position         : relative;
    background-color : $backgroundColor;
    width            : 100vw;
    min-height       : calc(100vh - 100px);
    display          : flex;
    padding          : 2rem;
  }
  
  footer {
    border-top       : 10px solid $backgroundColor;
    position         : sticky;
    bottom           : 0;
    z-index          : 1;
    background-color : #963999;
    height           : 40px;
    display          : flex;
    align-items      : center;
    padding          : 0.5rem;
    font-size        : small;
    font-weight      : 700;
  }
}