@use "./styles/variables.module" as v;
@use "./styles/mixins" as m;

* {
  box-sizing : border-box;
  @include m.customScrollbar(v.$accentColor);
}

html {
  scroll-behavior : smooth;
  
  body {
    overflow-x              : hidden;
    margin                  : 0;
    font-family             : -apple-system, BlinkMacSystemFont, "Inter", "Roboto", "Open Sans", "Montserrat", "Poppins", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;;
    -webkit-font-smoothing  : antialiased;
    -moz-osx-font-smoothing : grayscale;
    min-width               : 375px;
    line-height             : 1.5;
    
    &.dark {
      background-color : v.$baseColorDark;
      color            : v.$textColorDark;
    }
    
    &.light {
      background-color : v.$baseColor;
      color            : v.$textColor;
    }
  }
  
}