@use "./styles/variables" as v;

html {
  scroll-behavior : smooth;

  body {
    overflow-x              : hidden;
    margin                  : 0;
    font-family             : -apple-system, BlinkMacSystemFont, "Inter", "Roboto", "Open Sans", "Montserrat", "Poppins", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing  : antialiased;
    -moz-osx-font-smoothing : grayscale;
    min-width               : 375px;

    &.dark {
      background-color : v.$backgroundColorDark;
      color            : v.$textColorDark;
    }

    &.light {
      background-color : v.$backgroundColor;
      color            : v.$textColor;
    }
  }

}

* {
  box-sizing : border-box;
}