@import '../../../styles/variables';
@import '../../../styles/mixins';
@import '../../../styles/common';

button,
[data-component="button"] {
  @extend .br-0p3;
  @include boxShadow($buttonPrimaryBorderColor);
  
  display          : inline-flex;
  width            : fit-content;
  padding          : 0.49rem 0.56rem;
  background-color : $buttonPrimaryColor;
  color            : $buttonPrimaryTextColor;
  border           : 1px solid $buttonPrimaryBorderColor;
  cursor           : pointer;
  transition       : all 150ms ease-in-out;
  align-items      : center;
  gap              : 0.5rem;
  
  &:hover {
    background-color : $buttonPrimaryHoverColor;
    
    &:active { opacity : 0.3; }
  }
  
  &[disabled],
  &.disabled {
    pointer-events : none !important;
    color          : $buttonPrimaryDisabledTextColor;
    opacity        : 0.3;
  }
}