@use "../../../styles/variables" as v;
@use "../../../styles/mixins" as m;
@use "../../../styles/common";

.btn-icon,
button,
[data-component="button"] {
  @include m.boxShadow(v.$buttonPrimaryBorderColor);
  
  display      : inline-flex;
  min-width    : fit-content;
  width        : fit-content;
  border-width : 1px;
  border-style : solid;
  cursor       : pointer;
  transition   : all 150ms ease-in-out;
  align-items  : center;
  gap          : 0.5rem;
  
  &.btn-icon {
    padding          : 2px;
    border-radius    : 50%;
    color            : v.$buttonPrimaryColor;
    background-color : v.$buttonPrimaryTextColor;
    border-color     : v.$buttonPrimaryBorderColor;
  }
  
  &:not(.btn-icon) {
    @extend .border-radius-0p3;
    display         : inline-flex;
    align-items     : center;
    justify-content : center;
    padding         : 0.35rem 0.42rem;
    min-width       : 32px;
    min-height      : 32px;
    
    &.default {
      background-color : v.$buttonDefaultColor;
      border-color     : v.$buttonDefaultBorderColor;
      color            : v.$buttonDefaultTextColor;
    }
    
    &:not(.default) {
      background-color : v.$buttonPrimaryColor;
      border-color     : v.$buttonPrimaryBorderColor;
      color            : v.$buttonPrimaryTextColor;
    }
    
    &.no-padding {
      padding : 0;
    }
  }
  
  &:hover {
    &.btn-icon {
      color            : v.$buttonPrimaryHoverColor;
      background-color : v.$buttonPrimaryTextColor;
    }
    
    &:not(.btn-icon) {
      &.default {
        background-color : v.$buttonDefaultHoverColor
      }
      
      &:not(.default) {
        background-color : v.$buttonPrimaryHoverColor;
      }
    }
    
    &:active { opacity : 0.3; }
  }
  
  &[disabled],
  &.disabled {
    pointer-events : none !important;
    opacity        : 0.3;
    
    &.default {
      border-color : v.$buttonDefaultDisabledTextColor;
      color        : v.$buttonDefaultDisabledTextColor;;
    }
    
    &:not(.default) {
      border-color : v.$buttonPrimaryDisabledTextColor;
    }
  }
}