@import '../../../styles/variables';
@import '../../../styles/mixins';
@import '../../../styles/common';

.btn-icon,
button,
[data-component="button"] {
  @include boxShadow($buttonPrimaryBorderColor);
  
  display      : inline-flex;
  min-width    : fit-content;
  width        : fit-content;
  border-width : 1px;
  border-style : solid;
  cursor       : pointer;
  transition   : all 150ms ease-in-out;
  align-items  : center;
  gap          : 0.5rem;
  
  &.btn-icon {
    padding          : 2px;
    border-radius    : 50%;
    color            : $buttonPrimaryColor;
    background-color : $buttonPrimaryTextColor;
    border-color     : $buttonPrimaryBorderColor;
  }
  
  &:not(.btn-icon) {
    @extend .border-radius-0p3;
    display         : inline-flex;
    align-items     : center;
    justify-content : center;
    padding          : 0.35rem 0.42rem;
    background-color : $buttonPrimaryColor;
    color            : $buttonPrimaryTextColor;
    border-color     : $buttonPrimaryBorderColor;
    min-width  : 32px;
    min-height : 32px;
    
    &.no-padding {
      padding         : 0;
    }
  }
  
  &:hover {
    &:not(.btn-icon) {
      background-color : $buttonPrimaryHoverColor;
    }
    
    &.btn-icon {
      color            : $buttonPrimaryHoverColor;
      background-color : $buttonPrimaryTextColor;
    }
    
    &:active { opacity : 0.3; }
  }
  
  &[disabled],
  &.disabled {
    pointer-events : none !important;
    color          : $buttonPrimaryDisabledTextColor;
    opacity        : 0.3;
  }
}